<h2 class="h2Ti">{{ titulo }}</h2>
<div class="container divContainer">
  <table class="table table-bordered">

    <thead>
      <tr>
        <!--<th scope="col">#</th>-->
        <th scope="col">Nombre del control</th>
        <th scope="col">Operaciones</th>
      </tr>
    </thead>

    <tbody class="table-group-divider">
      <!--<tr *ngFor="let cit of cita">-->
        <tr>
        <td>Nombre del control 1</td>
        <td>
          <i class="fa-solid fa-pen-to-square ibotton"></i>
          <i class="fa-solid fa-circle-info ibotton"></i>
          <i class="fa-solid fa-trash ibotton"></i>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn buttonAnadir">Añadir control</button>
</div>
