<h2 class="h2Ti">{{ titulo }}</h2>
<div class="container divContainer">
  <table class="table table-bordered">
    <thead>
      <tr>
        <!--<th scope="col">#</th>-->
        <th scope="col">Fecha</th>
        <th scope="col">Lugar</th>
        <th scope="col">Operaciones</th>
      </tr>
    </thead>

    <tbody class="table-group-divider">
      <tr>
        <tr>
        <td>Fecha 1</td>
        <td>Lugar 1</td>
        <td>
          <i class="fa-solid fa-pen-to-square ibotton"></i>
          <i class="fa-solid fa-circle-info ibotton"></i>
          <i class="fa-solid fa-trash ibotton"></i>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn buttonAnadir" routerLink="/edit-cita">Añadir cita</button>
</div>