<nav class="navbar navbar-expand-lg bg-danger navPrin">
    <div class="container-fluid">
      <a class="navbar-brand navText">Consultorio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse divDrop"id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle navMenu" data-bs-toggle="dropdown" aria-expanded="false">
              Menu
            </a>
            <ul class="dropdown-menu menu">
              <li><a class="dropdown-item" routerLink="/citas">Citas</a></li>
              <li><a class="dropdown-item" routerLink="/tratamientos">Tratamientos</a></li>
              <li><a class="dropdown-item" routerLink="controles">Controles</a></li>
              <li><a class="dropdown-item" href="#">Salir</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

