<div class="container card paddc">
  <label class="form-label marTitle"> {{titulo}} </label>

  <form class="row g-3" (ngSubmit)="saveOrUpdate()" [formGroup] = "editControlForm">
    <div class="col-md-4 divIn">
      <label class="form-label sub" for="fecha">Fecha</label>
      <input
        type="date"
        class="form-control"
        name="fecha"
        required
        formControlName="fecha"
      />
    </div>
    <div class="col-md-4 divIn">
      <label class="form-label sub" for="nombre">Nombre</label>
      <input
        type="text"
        class="form-control"
        name="nombre"
        required
        formControlName="nombre"
      />
    </div>

    <div class="col-12">
      <button
        type="submit"
        class="btn btn-primary sub buttonAnadir"
      >
        Añadir
      </button>
    </div>

  </form>
</div>
