<div class=" container card paddc">
    <label for="inputEmail4" class="form-label marTitle">Control</label>
  
  <form class="row g-3">
  
    <div class="col-md-4 divIn">
        <label class="form-label sub">Fecha</label>
        <input type="date" class="form-control" id="inputCity">
      </div>
      <div class="col-md-4 divIn">
        <label class="form-label sub">Valor</label>
        <input type="text" class="form-control" ngModel pattern="[a-zA-Z]*">
      </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary sub buttonAnadir" routerLink="/controles">Añadir</button>
    </div>
  </form>
  </div>
