
<div class=" container card paddc">
    <label for="inputEmail4" class="form-label marTitle">Agregar Tratamientos</label>
  
  <form class="row g-3">
  
    <div class="col-md-4">
        <label for="inputCity" class="form-label sub">Fecha</label>
        <input type="text" class="form-control" pattern="[a-z]{1,15}">
      </div>
      <div class="col-md-4">
        <label for="inputCity" class="form-label sub">Veces al día</label>
        <input type="number" class="form-control" pattern=" [1-100] {1,15}">
      </div>
      <div class="col-md-4">
        <label for="inputCity" class="form-label sub">Cantidad</label>
        <input type="number" class="form-control" pattern="[1-100]">
      </div>
  
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label sub">Fecha de inicio</label>
      <input type="date" class="form-control">
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label sub">Fecha de finalización</label>
      <input type="date" class="form-control">
    </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label sub">Consulta</label>
      <input type="text" class="form-control">
    </div>
  
    <div class="col-12">
      <button type="submit" class="btn btn-primary sub buttonAnadir">Guardar</button>
    </div>
  </form>
  </div>
