.Container1{
    margin-top: 5%;
    object-position: center;
    text-align: center;
}

.textSub{
    margin: 1em;
    text-align: center;
    object-position: center;
}

.textSub2{
    margin: 1px;
    text-align: center;
    object-position: center;
}

.text1{
    margin-left: 6%;
}

