
<div class=" container card paddc">
    <label for="inputEmail4" class="form-label marTitle">Cita</label>
  
  <form class="row g-3">
  
    <div class="col-md-4 divIn">
        <label class="form-label sub">Fecha</label>
        <input type="date" class="form-control" id="inputCity">
      </div>
      <div class="col-md-4 divIn">
        <label class="form-label sub">Lugar</label>
        <input type="text" class="form-control" ngModel pattern="[a-zA-Z]*">
      </div>
      <div class="col-md-4 divIn">
        <label class="form-label sub">Consulta</label>
        <input type="text" class="form-control" ngModel pattern="[a-zA-Z]*">
      </div>
      <div class="col-md-4 divIn">
        <label class="form-label sub">Médico</label>
        <input type="text" class="form-control" ngModel pattern="[a-zA-Z]*">
      </div>
      <div class="col-md-4 divIn100">
        <label class="form-label sub">Motivo</label>
        <input type="text" class="form-control" ngModel pattern="[a-zA-Z]*">
      </div>
  
    <div class="col-12">
      <button type="submit" class="btn btn-primary sub buttonAnadir">Guardar</button>
    </div>
  </form>
  </div>
