
<h2 class="h2Ti">{{ titulo }}</h2>
<div class="container divContainer">
  <table class="table table-bordered">

    <thead>
      <tr>
        <!--<th scope="col">#</th>-->
        <th scope="col">Nombre</th>
        <th scope="col">Veces al día</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Operaciones</th>
      </tr>
    </thead>

    <tbody class="table-group-divider">
      <tr *ngFor="let t of tratamientos">
        <!--<th scope="row">1</th>-->
        <td> {{t.nombre}} </td>
        <td> {{t.veces_al_dia}} </td>
        <td> {{t.cantidad}} </td>
        <td>
          <i class="fa-solid fa-pen-to-square ibotton" [routerLink]="['edit-tratamiento', t.id]"></i>
          <i (click)="delete(t)" class="fa-solid fa-trash ibotton"></i>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn buttonAnadir" routerLink="/edit-tratamiento">Nuevo</button>
</div>
